.createCourse {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 61vw;
}

.infoSection {
    display: flex;
    justify-content: space-between;
    width: 90.5%;
    margin-top: 1em;
}

.titleInput {
    border: 2px solid blue;
    width:  15em;
    height: 2em;
    margin-left: 0.2em;
}

.descriptionInput {
    width: 89.5%;
    height: 10em;
    margin-top: 1em;
    border: 2px solid rgb(149, 149, 54);
}

.authorSection {
border: 2px solid red;
margin-top: 1em;
width: 90%;
display: flex;
justify-content: space-evenly;
}

.authorSubsection {
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createCourseButton {
    width: 8em;
    height: 3em;
    background-color: transparent;
    border: 2px solid green;
}

.createAuthorButton {
    width: 8em;
    height: 3em;
    background-color: transparent;
    border: 2px solid rgb(27, 112, 146);
    margin-top: 2em;
}

.authorInput {
    width: 29em;
    height: 2em;
    margin-top: 1em;
    border: 2px solid rgb(149, 149, 54);
}

.inputDiv {
    width: 25em;
}

.durationInput {
    width: 29em;
    height: 2em;
    margin-top: 1em;
    border: 2px solid rgb(107, 105, 179);
}